/* navber */
/* change the background color */
.navbar-custom {
  background-color: #ac0000c7!important;
  line-height: 8px;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #ffffffcc;
}
/* change the link color */
.navbar-nav .nav-link {
  color: #ffffffcc!important;
}
/* change the color of active or hovered links */
.nav-item.active .nav-link,
.nav-item:hover .nav-link {
  color: #ffffff!important;
  background-color: #ba0000c7!important;
}
.custom-toggler {
  margin: 1px 1px!important;
  border-color: #ffffffcc!important;
}
.custom-toggler:hover{
  background-color: #ba0000c7!important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ffffffcc' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

/* custom */
.main-color-bg{
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color: #ffffff;
}

/* Header */
#header{
  background: #e74c3c;
  color: #e1e1e1;
  padding-top:15px;
  padding-bottom:10px;
  margin-top: 0px;
}


/* breadcrumb */
.breadcrumb{
  background: #cccccc;
  color: #333333;
  margin-top: 10px;
}

.breadcrumb a{
  color: #333333;
}

/* progress */
.progress-bar{
  border: 1px solid #e74c3c;
  background: #333333;
  color: #ffffff;
}
.stats{
  border: 1px solid #cccccc;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dash-card{
  text-align: center;
}

.card-table{
  margin-top: 10px;
}
.content-main{
  margin-top: 8px;
}

/* footer */
#footer{
  background: #333333;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}


